.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  /* background-color: #282c34;
  background-attachment: fixed; */
  /* background-image: './files/components/assets/img/Hollywoodbets-Aviator.png'; */
  background: linear-gradient(rgb(11, 5, 38, 0.7), rgba(0, 0, 0, 0.2))url("./files/assets/img/Hollywoodbets-Aviator.png") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background-radial-gradient {
  background: linear-gradient(rgb(11, 5, 38, 0.7), rgba(0, 0, 0, 0.2));

}
&::before {
  /* content: ''; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(11, 5, 38, 0.7), rgba(0, 0, 0, 0.2));
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
